#home
  #connect_button
    = link_to image_tag('google_256.png'), root_path

  #connect_text
    %p
      Welcome chugulu team !
    %p
      This is the time tracking tool for Chugulu. Please connect with your google account : name@chugulu.com
    %p
      Have a good time tracking time
