#time_tracking
  #new_task_box
    = render partial: 'task_box', locals: {data: {name: 'Enter your task\'s name here', project: 'SAS'}}
  #old_tasks_list
    %table
      = render partial: 'task', collection: [{name: 'Design', project: 'Time Tracking', duration: 3213}, {name: 'Drool', project: 'Spot', duration: 32133}, {name: 'Edit content', project: 'SAS', duration: 33}]
  #edit_task_box{style: 'display:none;'}
    = render partial: 'task_box'